body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
a {
  color:#151515;
  text-decoration: none;
}
a:hover {
  color: #0066FF;
}
h1 {
  font-size: 34px;
  font-family: "Proba Pro Bold" ,sans-serif;
  margin-bottom: 24px;
}
h2 {
  font-size: 22px;
  font-family: "Proba Pro SemiBold" ,sans-serif;
  margin-bottom: 16px;
}
h3 {
  font-size: 17px;
  font-family: "Proba Pro SemiBold" ,sans-serif;
  margin-bottom: 8px;
}
h4 {
  font-size: 15px;
  font-family: "Proba Pro Medium" ,sans-serif
}